fastapi
uvicorn
python-docx
PyPDF2
python-multipart
pydantic
langchain-text-splitters
motor
python-dotenv
pymongo
certifi
langchain 
langchain-core
langchain-google-genai
faiss-cpu
google-genai
numpy
sentence-transformers
pinecone
